body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: auto;
  user-select: none;
  text-decoration: none;
}




code {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
